# Copyright Advanced Micro Devices, Inc., or its affiliates.
# SPDX-License-Identifier: MIT

Checks: >-
  -*,
  clang-analyzer-*,
  bugprone-assert-side-effect,
  bugprone-dangling-handle,
  bugprone-infinite-loop,
  bugprone-sizeof-expression,
  bugprone-suspicious-memory-comparison,
  bugprone-undefined-memory-manipulation,
  bugprone-use-after-move
WarningsAsErrors: '*'
HeaderFilterRegex: '(^|/)hostnumerics/'
